---
import IconComponent from "components/atoms/IconComponent";
import { DEFAULT_LANGUAGE, SITE_LICENSE } from "config";
import type { License } from "interfaces/License";
import formatDate from "utils/formatDate";
import { getTranslation } from "utils/getTranslation";

interface Props {
    license?: License;
    lastModified: Date;
}

const { license = SITE_LICENSE, lastModified } = Astro.props;
const language = Astro.currentLocale ?? DEFAULT_LANGUAGE;
---

<footer card prose max-w-full px-4>
    <p>
        <IconComponent icon="i-fluent-emoji-flat-memo">
            <span>
                {getTranslation(language).updated}
                {" "}
                <time>{formatDate(lastModified)}</time>
            </span>
        </IconComponent>
    </p>

    <p>
        <IconComponent icon="i-fluent-emoji-flat-copyright">
            {getTranslation(language).licensedUnder}
            {" "}
            <a rel="license" href={license.url} target="_blank">
                {license.name}
            </a>
        </IconComponent>
    </p>
</footer>
