---
import { type ImageMetadata } from "astro";
import CoverImage from "components/atoms/CoverImage";
import DateComponent from "components/atoms/DateComponent";
import Details, { type DetailsProps } from "components/molecules/Details";
import LanguageSelector from "components/molecules/LanguageSelector";
import type { Multilingual } from "interfaces/Multilingual";
import type { TranslatedElement } from "interfaces/TranslatedElement";
import { getUUID } from "utils/getUUID";

interface Props extends DetailsProps, Multilingual, TranslatedElement {
    image?: ImageMetadata;
    date: Date;
    slug: string;
}

const { title, image, date, language, languages, slug, ...props } = Astro.props;
const id = getUUID(title);
---

<header flex="~ col" gap-lg>
    <CoverImage image={image} alt="" viewTransitionName=`image-${id}` />
    <div px-4 lg:px-8>
        <Details {title} viewTransitionName={`title-${id}`} {...props} />
        <div flex="~ row" gap-4>
            <DateComponent {date} viewTransitionName={`date-${id}`} />

            {
                languages.length > 1 && (
                    <LanguageSelector
                        defaultLanguage={language}
                        {languages}
                        {slug}
                        client:idle
                    />
                )
            }
        </div>
    </div>
</header>
