---
import { DEFAULT_LANGUAGE, SITE_LICENSE } from "config";
import type { License } from "interfaces/License";
import MarkdownIt from "markdown-it";
import sanitizeHtml from "sanitize-html";
import formatDate from "utils/formatDate";
import { getTranslation } from "utils/getTranslation";
import { LuCopyright, LuFileEdit } from "react-icons/lu";

interface Props {
    license?: License;
    licenseText?: string;
    lastModified: Date;
}

const { license = SITE_LICENSE, licenseText, lastModified } = Astro.props;
const language = Astro.currentLocale ?? DEFAULT_LANGUAGE;

const parser = new MarkdownIt();
---

<footer
    grid="~ cols-[auto_minmax(auto,2fr)]"
    items-center
    text-secondary
    gap-sm
>
    <LuFileEdit aria-hidden />
    <p>
        {getTranslation(language).updated}
        <time>{formatDate(lastModified)}</time>
    </p>

    <LuCopyright aria-hidden />
    <p>
        {
            licenseText ? (
                <Fragment
                    set:html={sanitizeHtml(parser.renderInline(licenseText))}
                />
            ) : (
                <>
                    {getTranslation(language).licensedUnder}{" "}
                    <a rel="license" href={license.url} target="_blank">
                        {license.name}
                    </a>
                </>
            )
        }
    </p>
</footer>
