---
import { DEFAULT_LANGUAGE, SITE_LICENSE } from "config";
import type { License } from "interfaces/License";
import { LuCopyright, LuFileEdit } from "react-icons/lu";
import { formatDate } from "utils/formatDate";
import { getTranslation } from "utils/getTranslation";
import { renderMarkdown } from "utils/renderMarkdown";

interface Props {
    license?: License;
    licenseText?: string;
    lastModified: Date;
}

const { license = SITE_LICENSE, licenseText, lastModified } = Astro.props;
const language = Astro.currentLocale ?? DEFAULT_LANGUAGE;
---

<footer
    grid="~ cols-[auto_minmax(auto,2fr)]"
    items-center
    text-secondary
    gap-sm
>
    <LuFileEdit aria-hidden />
    <p>
        {getTranslation(language).updated}
        <time>{formatDate(lastModified)}</time>
    </p>

    <LuCopyright aria-hidden />
    <p>
        {
            licenseText ? (
                <Fragment set:html={renderMarkdown(licenseText)} />
            ) : (
                <>
                    {getTranslation(language).licensedUnder}{" "}
                    <a rel="license" href={license.url}>
                        {license.name}
                    </a>
                </>
            )
        }
    </p>
</footer>
