---
import type { ImageMetadata } from "astro";
import CoverImage from "../atoms/CoverImage";
import BlogDetails from "../molecules/BlogDetails";
import BlogFooter from "../molecules/BlogFooter.astro";

interface Props {
    title: string;
    description?: string;
    date: Date;
    lastModified: Date;
    image?: ImageMetadata;
}

const { title, description, date, lastModified, image } = Astro.props;
---

<article prose min-w-40ch max-w-full card>
    <header>
        <CoverImage image={image} title={title} />
        <BlogDetails title={title} description={description} date={date} />
    </header>
    <div px-8 pb-8>
        <slot />
        <BlogFooter lastModified={lastModified} />
    </div>
</article>
