---
import Avatar from "components/atoms/Avatar";
import ProfileSchema from "components/atoms/ProfileSchema.astro";
import Article from "components/organisms/Article.astro";
import { DEFAULT_LANGUAGE, SITE_AVATAR } from "config";
import NavigationBarLayout from "layouts/NavigationBarLayout.astro";
import { getTranslation } from "utils/getTranslation";

interface Props {
    frontmatter: {
        title: string;
        description?: string;
    };
}

const { title, description } = Astro.props.frontmatter;

const language = Astro.currentLocale ?? DEFAULT_LANGUAGE;
---

<NavigationBarLayout {title} {language}>
    <ProfileSchema {description} slot="head" />

    <main>
        <Article>
            <header slot="header" flex="~ col" items-center px-lg pt-lg>
                <Avatar
                    image={SITE_AVATAR}
                    alt={getTranslation(language).siteAvatar}
                    size="40"
                />
                <h2>{title}</h2>
            </header>
            <slot />
        </Article>
    </main>
</NavigationBarLayout>
