---
import type { CollectionEntry } from "astro:content";
import BackButton from "../components/BackButton";
import BlogArticle from "../components/BlogArticle";
import LinkList from "../components/LinkList";
import SiteFooter from "../components/SiteFooter";
import { BLOG_IMAGE_PLACEHOLDER } from "../config";
import BaseLayout from "./BaseLayout.astro";

type Props = CollectionEntry<"posts">["data"] & { language: string };

const {
    title,
    description,
    date,
    image = BLOG_IMAGE_PLACEHOLDER,
    links,
    language,
} = Astro.props;
---

<BaseLayout {title} {description} {image}>
    <div flex="~ col" lg="flex-row gap-4">
        <aside
            sticky
            top-0
            h-0
            z-1
            p-6
            lg="flex-1 flex h-screen items-start justify-end"
        >
            <BackButton {language} />
        </aside>

        <div flex="~ col" py-6 gap-y-7>
            <main flex="~ col" max-w-4xl gap-y-7>
                <BlogArticle {title} {description} {date} {image}>
                    <slot />
                </BlogArticle>

                <LinkList {links} />
            </main>

            <SiteFooter {language} />
        </div>

        <aside hidden lg="block flex-1"></aside>
    </div>
</BaseLayout>
