---
import type { CollectionEntry } from "astro:content";
import formatDate from "../utils/formatDate";
import BaseLayout from "./BaseLayout.astro";
import LinkList from "../components/LinkList";
import { BLOG_IMAGE_PLACEHOLDER } from "../config";
import BlogFooter from "../components/BlogFooter";
import SiteFooter from "../components/SiteFooter";

type Props = CollectionEntry<"posts">["data"];

const {
    title,
    description,
    date,
    image = BLOG_IMAGE_PLACEHOLDER,
    links,
} = Astro.props;
---

<BaseLayout title={title} description={description} image={image}>
    <main flex="~ col" p-6 max-w-100ch mx-auto gap-y-7>
        <article prose min-w-40ch max-w-full card>
            <header>
                {
                    (
                        <img
                            src={image.src}
                            alt={`Cover image of "${title}"`}
                            class="[&[src$='svg']]:object-fill"
                            w-full
                            max-h-30vh
                            object-cover
                            overflow-hidden
                        />
                    )
                }
                <div px-8 py-2>
                    <h2>{title}</h2>
                    <h3 text-slate>{description}</h3>
                    <time>{formatDate(date)}</time>
                </div>
            </header>
            <div px-8 py-2>
                <slot />
                <BlogFooter px-8 py-2 />
            </div>
        </article>

        <LinkList links={links || []} />
    </main>
    <SiteFooter />
</BaseLayout>
