---
import BackButton from "components/molecules/BackButton";
import Article from "components/organisms/Article.astro";
import LinkList from "components/organisms/LinkList";
import SiteFooter from "components/molecules/SiteFooter";
import { BLOG_IMAGE_PLACEHOLDER } from "config";
import type { BlogData } from "utils/getBlogs";
import BaseLayout from "layouts/BaseLayout.astro";

type Props = BlogData;

const {
    title,
    description,
    date,
    image = BLOG_IMAGE_PLACEHOLDER,
    links,
    language,
    lastModified,
} = Astro.props;
---

<BaseLayout {title} {description} {image}>
    <aside
        slot="left-sidebar"
        sticky
        top-0
        z-1
        p-lg
        lg="h-screen justify-self-end"
    >
        <BackButton {language} />
    </aside>

    <div flex="~ col" p-lg gap-y-7>
        <main flex="~ col" max-w-4xl gap-y-7>
            <Article {title} {description} {date} {lastModified} {image}>
                <slot />
            </Article>

            <LinkList {links} />
        </main>

        <SiteFooter {language} />
    </div>
</BaseLayout>
