---
import BackButton from "components/molecules/BackButton";
import BlogArticle from "components/organisms/BlogArticle.astro";
import LinkList from "components/organisms/LinkList";
import SiteFooter from "components/molecules/SiteFooter";
import { BLOG_IMAGE_PLACEHOLDER } from "config";
import type { BlogData } from "utils/getBlogs";
import BaseLayout from "layouts/BaseLayout.astro";

type Props = BlogData;

const {
    title,
    description,
    date,
    image = BLOG_IMAGE_PLACEHOLDER,
    links,
    language,
    lastModified,
} = Astro.props;
---

<BaseLayout {title} {description} {image} lg="grid grid-sidebars">
    <aside sticky top-0 z-1 p-6 lg="h-screen justify-self-end">
        <BackButton {language} />
    </aside>

    <div flex="~ col" py-6 gap-y-7>
        <main flex="~ col" max-w-4xl gap-y-7>
            <BlogArticle {title} {description} {date} {lastModified} {image}>
                <slot />
            </BlogArticle>

            <LinkList {links} />
        </main>

        <SiteFooter {language} />
    </div>
</BaseLayout>
