---
import type { CollectionEntry } from "astro:content";
import formatDate from "../utils/formatDate";
import BaseLayout from "./BaseLayout.astro";
import LinkList from "../components/LinkList";
import { BLOG_IMAGE_PLACEHOLDER } from "../config";
import BlogFooter from "../components/BlogFooter";
import SiteFooter from "../components/SiteFooter";
import BackButton from "../components/BackButton";
import CoverImage from "../components/CoverImage";
import BlogDetails from "../components/BlogDetails";

type Props = CollectionEntry<"posts">["data"] & { lang: string };

const {
    title,
    description,
    date,
    image = BLOG_IMAGE_PLACEHOLDER,
    links,
    lang,
} = Astro.props;
---

<BaseLayout title={title} description={description} image={image}>
    <div flex="~ col" my-6 lg="flex-row gap-4">
        <aside lg="flex-1 flex items-start justify-end">
            <BackButton lang={lang} />
        </aside>
        <main flex="~ col" max-w-100ch mx-auto gap-y-7>
            <article prose min-w-40ch max-w-full card>
                <header>
                    <CoverImage image={image} title={title} />
                    <BlogDetails
                        title={title}
                        description={description}
                        date={date}
                    />
                </header>
                <div px-8 py-2>
                    <slot />
                    <BlogFooter px-8 py-2 />
                </div>
            </article>

            <LinkList links={links} />
        </main>
        <aside flex-1></aside>
    </div>
    <SiteFooter lang={lang} />
</BaseLayout>
