---
import CardList from "components/organisms/CardList";
import NavigationBarLayout from "layouts/NavigationBarLayout.astro";
import type { ImageCardProps } from "components/molecules/ImageCard";
import CollectionSchema from "components/atoms/CollectionSchema.astro";
import SearchBox from "components/organisms/SearchBox";
import type { Multilingual } from "interfaces/Multilingual";
import Pagination, {
    type PaginationProps,
} from "components/molecules/Pagination";

interface Props extends Partial<Multilingual> {
    /* Page title */
    title: string;
    /* Collection name */
    name: string;
    items: ImageCardProps[];
    language: string;
    description?: string;
    searchBox?: boolean;
    pagination?: Omit<PaginationProps, "language"> | null;
}

const {
    items,
    title,
    name,
    language,
    languages,
    description,
    searchBox = false,
    pagination,
} = Astro.props;
---

<NavigationBarLayout {title} {description} {language} {languages}>
    <Fragment slot="head">
        <CollectionSchema {name} {items} />
        <slot name="head" />
    </Fragment>

    {
        searchBox && (
            <header h-15 overflow-visible z-1>
                <SearchBox {language} client:load />
            </header>
        )
    }

    <main>
        <CardList cards={items} aria-label={name} />
    </main>

    {
        pagination && (
            <footer flex="~ col" items-center>
                <Pagination {...pagination} {language} />
            </footer>
        )
    }
</NavigationBarLayout>
