---
import CardList from "components/organisms/CardList";
import NavigationBarLayout from "layouts/NavigationBarLayout.astro";
import ContentLayout from "layouts/partials/ContentLayout.astro";
import { DEFAULT_LANGUAGE } from "config";
import { getTranslation } from "utils/getTranslation";
import type { ImageCardProps } from "components/molecules/ImageCard";
import CollectionSchema from "components/atoms/CollectionSchema.astro";
import SearchBox from "components/organisms/SearchBox";
import type { Multilingual } from "interfaces/Multilingual";

interface Props extends Partial<Multilingual> {
    title: string;
    items: ImageCardProps[];
    description?: string;
    searchBox?: boolean;
}

const { items, title, languages, description, searchBox = false } = Astro.props;
const language = Astro.currentLocale ?? DEFAULT_LANGUAGE;
---

<NavigationBarLayout {title} {description} {languages}>
    <Fragment slot="head">
        <CollectionSchema {title} {items} />
        <slot name="head" />
    </Fragment>

    <ContentLayout>
        {
            searchBox && (
                <header h-15 overflow-visible z-1>
                    <SearchBox {language} client:load />
                </header>
            )
        }

        <main>
            <CardList
                cards={items}
                aria-label={getTranslation(language).projects}
            />
        </main>
    </ContentLayout>
</NavigationBarLayout>
