---
import { getRelativeLocaleUrl } from "astro:i18n";
import type { BlogCardProps } from "../components/organisms/BlogCard";
import BlogList from "../components/organisms/BlogList";
import HeadHrefLangs from "../components/atoms/HeadHrefLangs.astro";
import NavigationBar from "../components/organisms/NavigationBar";
import SiteFooter from "../components/SiteFooter";
import ToolBar from "../components/organisms/ToolBar";
import getBlogs from "../utils/getBlogs";
import { getTranslation } from "../utils/translation";
import BaseLayout from "./BaseLayout.astro";
import { DEFAULT_LANGUAGE } from "../config";

const language = Astro.currentLocale ?? DEFAULT_LANGUAGE;

const blogs: BlogCardProps[] = (await getBlogs())
    .filter(({ data }) => data.language === language)
    .map((blog) => {
        const { data, slug } = blog;

        return {
            ...data,
            url: getRelativeLocaleUrl(language, `posts/${slug}`),
        };
    })
    .sort((a, b) => +b.date - +a.date);
---

<BaseLayout
    title={getTranslation(language).siteTitle}
    description={getTranslation(language).siteDescription}
>
    <HeadHrefLangs slot="head" />
    <div min-w-md lg="grid-sidebars">
        <div p-4 lg="sticky top-0 h-screen">
            <NavigationBar {language} />
        </div>

        <div flex="~ col" gap-10 p-lg>
            <ToolBar {language} client:load />

            <main lg="max-w-4xl">
                <BlogList {blogs} />
            </main>

            <SiteFooter {language} />
        </div>
    </div>
</BaseLayout>
