---
import type { SEOProps } from "astro-seo";
import { Schema } from "astro-seo-schema";
import { getAbsoluteLocaleUrl } from "astro:i18n";
import type { ImageCardProps } from "components/molecules/ImageCard";
import CardList from "components/organisms/CardList";
import SearchBox from "components/organisms/SearchBox";
import { BLOG_IMAGE_PLACEHOLDER, SITE_OWNER } from "config";
import NavigationBarLayout from "layouts/NavigationBarLayout.astro";
import ContentLayout from "layouts/partials/ContentLayout.astro";

import { getTranslation } from "utils/getTranslation";

interface Props extends Pick<SEOProps, "languageAlternates"> {
    title: string;
    description: string;
    language: string;
    blogs: ImageCardProps[];
}

const { title, description, language, blogs, languageAlternates } = Astro.props;
---

<NavigationBarLayout {title} {description} {languageAlternates}>
    <Schema
        slot="head"
        item={{
            "@context": "https://schema.org",
            "@type": "WebSite",
            name: title,
            description,
            url: Astro.url.href,
            mainEntityOfPage: {
                "@type": "WebPage",
                "@id": Astro.url.href,
            },
            author: {
                "@type": "Person",
                name: SITE_OWNER,
                url: getAbsoluteLocaleUrl(language, "/about"),
            },
            image: BLOG_IMAGE_PLACEHOLDER.src,
            inLanguage: language,
        }}
    />

    <ContentLayout>
        <header>
            <SearchBox language={language} client:load />
        </header>

        <main>
            <CardList
                cards={blogs}
                aria-label={getTranslation(language).blogList}
            />
        </main>
    </ContentLayout>
</NavigationBarLayout>
