---
import { getRelativeLocaleUrl } from "astro:i18n";
import type { BlogCardProps } from "../components/BlogCard";
import BlogList from "../components/BlogList";
import HeadHrefLangs from "../components/HeadHrefLangs.astro";
import NavigationBar from "../components/NavigationBar";
import SiteFooter from "../components/SiteFooter";
import ToolBar from "../components/ToolBar";
import getBlogs from "../utils/getBlogs";
import { getTranslation } from "../utils/translation";
import BaseLayout from "./BaseLayout.astro";

interface Props {
    language: string;
}

const { language } = Astro.props;

const blogs: BlogCardProps[] = (await getBlogs())
    .filter((blog) => blog.language === language)
    .map((blog) => {
        const { data, language, slug } = blog;

        return { ...data, url: getRelativeLocaleUrl(language, `posts/${slug}`) };
    })
    .sort((a, b) => +b.date - +a.date);
---

<BaseLayout
    language={language}
    title={getTranslation(language).siteTitle}
    description={getTranslation(language).siteDescription}
>
    <HeadHrefLangs slot="head" />
    <div flex="~ col" min-w-60ch p-4 gap-4 lg="flex-row">
        <NavigationBar language={language} />
        <div w-full flex="~ col" gap-10 my-2>
            <ToolBar language={language} client:load />
            <main>
                <BlogList blogs={blogs} />
            </main>

            <SiteFooter language={language} />
        </div>
    </div>
</BaseLayout>
