---
import type { BlogProps } from "../components/BlogCard";
import BlogList from "../components/BlogList";
import NavigationBar from "../components/NavigationBar";
import getBlogs from "../utils/getBlogs";
import { getTranslation } from "../utils/translation";
import BaseLayout from "./BaseLayout.astro";

interface Props {
    lang: string;
}

const { lang } = Astro.props;

const blogs: BlogProps[] = (await getBlogs()).map((blog) => {
    return { ...blog.data, slug: blog.slug };
});
---

<BaseLayout
    lang={lang}
    title={getTranslation(lang).siteTitle}
    description={getTranslation(lang).siteDescription}
>
    <div flex="~ col" min-w-60ch p-4 gap-4 lg="flex-row">
        <NavigationBar lang={lang} />
        <main w-full>
            <BlogList blogs={blogs} />
        </main>
    </div>
</BaseLayout>
