---
import { getAbsoluteLocaleUrl, getRelativeLocaleUrl } from "astro:i18n";
import SearchBox from "components/organisms/SearchBox";
import SiteFooter from "components/molecules/SiteFooter";
import type { BlogCardProps } from "components/organisms/BlogCard";
import BlogList from "components/organisms/BlogList";
import { DEFAULT_LANGUAGE } from "config";
import NavigationBarLayout from "layouts/NavigationBarLayout.astro";
import { languageCodes } from "localization";
import getBlogs from "utils/getBlogs";
import { getTranslation } from "utils/getTranslation";

const language = Astro.currentLocale ?? DEFAULT_LANGUAGE;

const blogs: BlogCardProps[] = getBlogs()
    .filter(({ data }) => data.language === language)
    .map(({ data, slug }) => ({
        ...data,
        url: getRelativeLocaleUrl(language, `posts/${slug}`),
    }))
    .sort((a, b) => +b.date - +a.date);

const languageAlternates = languageCodes.map((code) => ({
    hrefLang: code,
    href: getAbsoluteLocaleUrl(code, "/"),
}));
---

<NavigationBarLayout
    title={getTranslation(language).siteTitle}
    description={getTranslation(language).siteDescription}
    {languageAlternates}
>
    <div flex="~ col" gap-10 p-lg lg="max-w-4xl">
        <header un-hidden lg="block">
            <SearchBox language={language} client:load />
        </header>

        <main>
            <BlogList {language} {blogs} />
        </main>

        <div mb-30>
            <SiteFooter {language} />
        </div>
    </div>
</NavigationBarLayout>
