---
import { getRelativeLocaleUrl } from "astro:i18n";
import type { BlogCardProps } from "../components/BlogCard";
import BlogList from "../components/BlogList";
import HeadHrefLangs from "../components/HeadHrefLangs.astro";
import NavigationBar from "../components/NavigationBar";
import SiteFooter from "../components/SiteFooter";
import ToolBar from "../components/ToolBar";
import getBlogs from "../utils/getBlogs";
import { getTranslation } from "../utils/translation";
import BaseLayout from "./BaseLayout.astro";

interface Props {
    language: string;
}

const { language } = Astro.props;

const blogs: BlogCardProps[] = (await getBlogs())
    .filter(({ data }) => data.language === language)
    .map((blog) => {
        const { data, slug } = blog;

        return {
            ...data,
            url: getRelativeLocaleUrl(language, `posts/${slug}`),
        };
    })
    .sort((a, b) => +b.date - +a.date);
---

<BaseLayout
    {language}
    title={getTranslation(language).siteTitle}
    description={getTranslation(language).siteDescription}
>
    <HeadHrefLangs slot="head" />
    <div min-w-md lg="grid-sidebars">
        <div p-4 lg="sticky top-0 h-screen">
            <NavigationBar {language} />
        </div>

        <div flex="~ col" gap-10 p-lg>
            <ToolBar {language} client:load />

            <main lg="max-w-4xl">
                <BlogList {blogs} />
            </main>

            <SiteFooter {language} />
        </div>
    </div>
</BaseLayout>
