---
import { getAbsoluteLocaleUrl, getRelativeLocaleUrl } from "astro:i18n";
import type { ImageCardProps } from "components/molecules/ImageCard";
import CardList from "components/organisms/CardList";
import SearchBox from "components/organisms/SearchBox";
import { DEFAULT_LANGUAGE, SITE_DESCRIPTION, SITE_TITLE } from "config";
import NavigationBarLayout from "layouts/NavigationBarLayout.astro";
import ContentLayout from "layouts/partials/ContentLayout.astro";
import { languageCodes } from "localization";
import getBlogs from "utils/getBlogs";
import { getTranslation } from "utils/getTranslation";

const language = Astro.currentLocale ?? DEFAULT_LANGUAGE;

const blogs: ImageCardProps[] = getBlogs()
    .filter(({ data }) => data.language === language)
    .map(({ data, slug }) => ({
        ...data,
        url: getRelativeLocaleUrl(language, `posts/${slug}`),
    }))
    .sort((a, b) => +b.date - +a.date);

const languageAlternates = languageCodes.map((code) => ({
    hrefLang: code,
    href: getAbsoluteLocaleUrl(code, "/"),
}));
---

<NavigationBarLayout
    title={SITE_TITLE[language]}
    description={SITE_DESCRIPTION[language]}
    {languageAlternates}
>
    <ContentLayout>
        <header>
            <SearchBox language={language} client:load />
        </header>

        <main>
            <CardList
                cards={blogs}
                aria-label={getTranslation(language).blogList}
            />
        </main>
    </ContentLayout>
</NavigationBarLayout>
