---
import { getRelativeLocaleUrl } from "astro:i18n";
import type { BlogCardProps } from "components/organisms/BlogCard";
import BlogList from "components/organisms/BlogList";
import HeadHrefLangs from "components/atoms/HeadHrefLangs.astro";
import NavigationBar from "components/organisms/NavigationBar";
import SiteFooter from "components/molecules/SiteFooter";
import ToolBar from "components/organisms/ToolBar";
import getBlogs from "utils/getBlogs";
import { getTranslation } from "utils/getTranslation";
import BaseLayout from "layouts/BaseLayout.astro";
import { DEFAULT_LANGUAGE } from "config";
import MobileNavigationBar from "components/organisms/MobileNavigationBar";

const language = Astro.currentLocale ?? DEFAULT_LANGUAGE;

const blogs: BlogCardProps[] = getBlogs()
    .filter(({ data }) => data.language === language)
    .map((blog) => {
        const { data, slug } = blog;

        return {
            ...data,
            url: getRelativeLocaleUrl(language, `posts/${slug}`),
        };
    })
    .sort((a, b) => +b.date - +a.date);
---

<BaseLayout
    title={getTranslation(language).siteTitle}
    description={getTranslation(language).siteDescription}
>
    <HeadHrefLangs slot="head" />

    <div slot="left-sidebar" un-hidden p-lg lg="block sticky top-0 h-screen">
        <NavigationBar {language} client:load />
    </div>

    <div flex="~ col" gap-10 p-lg>
        <div un-hidden lg="flex flex-none">
            <ToolBar {language} client:load />
        </div>

        <main lg="max-w-4xl">
            <BlogList {blogs} />
        </main>

        <SiteFooter {language} />
    </div>

    <div sticky bottom-0 p-lg block lg="hidden">
        <MobileNavigationBar {language} client:load />
    </div>
</BaseLayout>
